{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('Admin/user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}"><button class="warning"><i class="fas fa-arrow-alt-circle-left"></i></button></a>
{% endblock %}
