{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block body %}
    <h1>Edit News</h1>

    {{ include('Admin/news/_form-new.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_news_index') }}"><button class="warning"><img src="{{ asset('images/return.png') }}" alt="" width="20"></button></a>

    {{ include('Admin/news/_delete_form.html.twig') }}
{% endblock %}
