{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "title.news.create"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "title.news.create"|trans }}</h1>

    {{ include('Admin/news/_form.html.twig') }}

    <a href="{{ path('admin_news_index') }}"><button class="warning"><i class="fas fa-arrow-alt-circle-left"></i></button></a>
{% endblock %}
