{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}

{% block title %}Edit Picture{% endblock %}

{% block body %}
    <h1>Edit Picture</h1>

    {{ include('Admin/picture/_form-edit.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_picture_index') }}"><button class="warning"><i class="fas fa-arrow-alt-circle-left"></i></button></a>

    {{ include('Admin/picture/_delete_form.html.twig') }}
{% endblock %}
