{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "title.picture.new"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "title.picture.new"|trans }}</h1>

    {{ include('Admin/picture/_form-new.html.twig') }}

    <a href="{{ path('admin_picture_index') }}"><button class="warning"><i class="fas fa-arrow-alt-circle-left"></i></button></a>
{% endblock %}
