@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

@font-face {
  font-family: "Fantasy W01 Regular1504285";
  src: url("../../public/Fonts/d59cb9bb-e302-4d03-a28c-f5d7fc170d1d.eot?#iefix"),
  url("../../public/Fonts/d59cb9bb-e302-4d03-a28c-f5d7fc170d1d.eot?#iefix") format("eot"),
  url("../../public/Fonts/67ba6174-8662-4877-8c71-6938b098652b.woff2") format("woff2"),
  url("../../public/Fonts/66f396d7-a2f5-48ff-b666-529e61be0af8.woff") format("woff"),
  url("../../public/Fonts/452560bc-7196-4154-9b64-b9bb79494473.ttf") format("truetype");
}


body {
  margin: 0;
  padding: 0;
  background: url("../../public/images/map_word.png");

  .flashes-box {
    margin-top: 20px;

    .alert {
      max-width: 50vw;
      height: 30px;
      border-radius: 5px;
      color: #FFFFFF;
      margin: 0 auto;
      padding: 10px;
      text-align: center;
    }

    .alert-danger {
      background: rgb(145, 39, 39, 0.9);
    }

    .alert-warning {
      background: rgb(145, 122, 39, 0.9);
    }

    .alert-success {
      background: rgba(87, 145, 39, 0.9);
    }
  }

  input {
    height: 28px;
    border-radius: 3px;
    border: #6a788c;
    box-shadow: 2px 2px #6a788c;
  }

  button {
    border: #0c698d 1px solid;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px 10px;
    background: rgba(12, 105, 141, 0.6);
    color: #FFFFFF;
    font-family: 'Syne Mono', monospace;

    &.logout {
      background: #B0413E;
    }

    &:hover {
      background: rgba(9, 71, 90, 0.6);
    }
  }

  nav {
    min-height: 27vh;
    background: linear-gradient(to bottom, #6e7d95, #6a788c 20%, rgba(63, 63, 63, 0.15)), center top/cover url("../../public/images/header.jpg") fixed;
    background-size: 100% 28vh;
    position: relative;
    border-bottom: #6a788c 1px solid;

    .navbar {
      font-size: 1.3em;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 10px;

      .menu, .log {
        position: fixed;
      }

      .menu {
        left: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        align-content: center;
        font-family: 'Syne Mono', monospace;

        .logoHome {
          cursor: pointer;
        }

        .nav-items {
          padding: 8px;
          cursor: pointer;

          &:hover {
            border: #0c698d 1px solid;
            padding: 8px;
            border-radius: 5px;
            color: white;
            background: rgba(12, 105, 141, 0.6);
          }
        }
      }

      .log {
        right: 0;
        margin-right: 20px;
        margin-top: 8px;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
      }

      .navbar-item {
        margin-top: -10px;
      }

      a {
        text-decoration: none;
        color: white;

        &.nav-items {
          text-align: center;
          margin-top: 0;
          margin-left: 10px;
        }
      }

      .title {
        position: absolute;
        text-align: center;
        font-size: 5em;
        width: 100%;
        color: white;
        bottom: 2%;
        font-family: 'Syne Mono', monospace;
        z-index: 2;
      }
    }
  }

  .main {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .left-side {
      width: 15%;

      .title-left {
        text-align: center;
        font-family: 'Syne Mono', monospace;
      }
    }

    .right-side {
      width: 15%;

      .title-right {
        text-align: center;
        font-family: 'Syne Mono', monospace;
      }
    }

    .center {
      width: 65%;
      border-left: #9da7ae 1px solid;
      border-right: #9da7ae 1px solid;
      height: 73vh;

      h1 {
        font-family: 'Syne Mono', monospace;
        padding-top: 20px;
        text-align: center;
      }

      p {
        text-align: center;
        padding: 25px;
        font-size: 1.3em;
        font-family: "Fantasy W01 Regular1504285", monospace;
        font-weight: bold;
        margin: 5px;
        line-height: 35px;
      }

      .login {
        margin-top: 50px;

        #form-login, #form-register {
          font-family: 'Syne Mono', monospace;
          color: white;
          border: rgba(12, 105, 141, 0.6);
          padding: 20px 50px;
          max-width: 25%;
          display: flex;
          margin: 0 auto;
          justify-content: center;
          flex-direction: column;
          background: rgba(12, 105, 141, 0.6);
          border-radius: 5px;
          text-align: center;

          .form-register {
            width: 100%;
            display: flex;
            margin: 10px 0;
            justify-content: center;
            flex-direction: column;
          }

          h1 {
            text-align: center;
            padding: 0;
            margin: 0 auto;
          }

          input, label {
            margin-top: 10px;
          }

          .signin {
            max-width: 150px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}


