{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>

    {{ include('Admin/comment/_form-new.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_comment_index') }}"><button class="warning"><i class="fas fa-arrow-alt-circle-left"></i></button></a>

    {{ include('Admin/comment/_delete_form.html.twig') }}
{% endblock %}
