{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}
{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Create new Comment</h1>

    {{ include('Admin/comment/_form.html.twig') }}

    <a href="{{ path('admin_comment_index') }}"><button class="warning"><i class="fas fa-arrow-alt-circle-left"></i></button></a>
{% endblock %}
