{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}
{% block title %}New City{% endblock %}

{% block body %}
    <h1>Create new City</h1>

    {{ include('Admin/city/_form-new.html.twig') }}

    <a href="{{ path('admin_city_index') }}"><button class="warning"><img src="{{ asset('images/return.png') }}" alt="" width="20"></button></a>
{% endblock %}
