{% trans_default_domain "OurTripsTrans" %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="filter">
    {% include "Layout/header.html.twig" %}
    {% include 'Layout/Flashes/inspiniaFlashes.html.twig' %}
    <div class="main">
        <div class="left-side">
            {% include "Layout/leftLayout.html.twig" %}
        </div>
        <div class="center">
            {% block body %}{% endblock %}
        </div>
        <div class="right-side">
            {% include "Layout/rightLayout.html.twig" %}
        </div>
    </div>
</div>
</body>
{% include "Layout/footer.html.twig" %}
</html>
