{% trans_default_domain "OurTripsTrans" %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('font-awesome/css/all.min.css') }}">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('font-awesome/js/all.min.js') }}"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="filter">
    {% include "Layout/_header.html.twig" %}
    {% include 'Layout/Flashes/_inspiniaFlashes.html.twig' %}
    <div class="main">
        <div class="left-side">
            {% include "Layout/_leftLayout.html.twig" %}
        </div>
        <div class="center">
            {% block body %}{% endblock %}
        </div>
        <div class="right-side">
            {% include "Layout/_rightLayout.html.twig" %}
        </div>
    </div>
</div>
</body>
{% include "Layout/_footer.html.twig" %}
</html>
