{% extends 'base.html.twig' %}
{% trans_default_domain "OurTripsTrans" %}
{% block title %}{{ "title.homepage"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "index.title"|trans }}</h1>
    <p>{{ "index.text"|trans }}</p>
{% endblock %}
